openapi: 3.2.0
info:
  title: Bigtincan Hub Public File API
  version: '1.0'
  description: 'The Bigtincan Hub Public API provides programmatic access to the Bigtincan sales enablement platform: stories, files, channels, tabs, groups, users, tags, bookmarks, forms, public file shares, search, CRM story recommendations, interaction tracking and admin management.'
  contact:
    name: Bigtincan Support
    url: https://www.bigtincan.com/contact/
  termsOfService: https://www.bigtincan.com/eula/
servers:
- url: https://pubapi.bigtincan.com/
security:
- oauth2_password: []
- oauth2_authorization_code: []
tags:
- name: File
paths:
  /v1/files/{file_perm_id}/tags:
    post:
      tags:
      - File
      summary: Add tags to file
      description: Add tags to file
      operationId: post-v1-files-by-file-perm-id-tags
      parameters:
      - name: file_perm_id
        in: path
        description: File perm id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tags added
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          description: Validation error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Add_tags_to_file'
        description: Tags object
        required: true
  /v1/files/{file_perm_id}:
    get:
      tags:
      - File
      summary: Retrieve file details
      description: Retrieve file details
      operationId: get-v1-files-by-file-perm-id
      parameters:
      - name: file_perm_id
        in: path
        description: File perm id
        required: true
        schema:
          type: string
      - $ref: '#/components/schemas/As-User'
        name: As-User
        in: header
        required: false
      responses:
        '200':
          description: A file array
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /v1/files:
    get:
      tags:
      - File
      summary: Retrieve files
      description: Retrieve files
      operationId: get-v1-files
      parameters:
      - name: tab_id
        in: query
        description: Tab id
        required: false
        schema:
          type: integer
      - name: channel_id
        in: query
        description: Channel id
        required: false
        schema:
          type: integer
      - name: dateModified
        in: query
        description: Gets all files after this date
        required: false
        schema:
          type: string
      - $ref: '#/components/schemas/As-User'
        name: As-User
        in: header
        required: false
      responses:
        '200':
          description: A list of files
        '403':
          $ref: '#/components/responses/403'
  /v1/file/allowed-extensions:
    get:
      tags:
      - File
      summary: Retrieve allowed file extensions
      description: Retrieve allowed file extensions
      operationId: get-v1-file-allowed-extensions
      responses:
        '200':
          description: A list of allowed file extensions
        '403':
          $ref: '#/components/responses/403'
components:
  responses:
    '404':
      description: Not found
    '403':
      description: Forbidden
    '401':
      description: Unauthorized
    '400':
      description: Bad request
  schemas:
    Add_tags_to_file:
      type: array
      items:
        type: string
    As-User:
      description: Perform action on behalf of this user ID.
      type: string
  securitySchemes:
    oauth2_password:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Client ID + Client Secret + API Key exchanged at /services/oauth2/token with grant_type=password. Returns access_token + refresh_token. The As-User header is available only with this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
    oauth2_authorization_code:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://pubapi.bigtincan.com/services/oauth2/authorize
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Interactive Bigtincan Hub user login. The As-User header is disabled for this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
