openapi: 3.2.0
info:
  title: Bigtincan Hub Public Search API
  version: '1.0'
  description: 'The Bigtincan Hub Public API provides programmatic access to the Bigtincan sales enablement platform: stories, files, channels, tabs, groups, users, tags, bookmarks, forms, public file shares, search, CRM story recommendations, interaction tracking and admin management.'
  contact:
    name: Bigtincan Support
    url: https://www.bigtincan.com/contact/
  termsOfService: https://www.bigtincan.com/eula/
servers:
- url: https://pubapi.bigtincan.com/
security:
- oauth2_password: []
- oauth2_authorization_code: []
tags:
- name: Search
paths:
  /v1.3/search/files:
    get:
      tags:
      - Search
      summary: Search for files
      description: Search for files.
      operationId: get-v1-3-search-files
      parameters:
      - name: q
        in: query
        description: Keyword or phrase to search by. Enclose in double quotes for exact matching. Supports asterisks for wildcards.
        required: false
        schema:
          type: string
      - name: q_mode
        in: query
        description: If `SimpleSearchWithAdvancedFilters` is enabled, this field can be set to `Advanced`, `Simple`, or `null`. If `SimpleSearchWithAdvancedFilters` is disabled, `Search` is always set to `Advanced` regardless of the value of this field.
        required: false
        schema:
          type: string
          enum:
          - Advanced
          - Simple
          default: 'null'
      - name: q_fields
        in: query
        description: Fetch result matching fields
        required: false
        schema:
          type: string
          enum:
          - description
          - content
          - tags
          default: 'null'
      - name: reporting_category
        in: query
        description: The value for the `reporting_category` field will be one of analytics_and_recent, only_analytics, or dont_record. If this field is set to null, the default reporting category is set to `analytics_and_recent`. If this field is set to `dont_record`, the search history will not be recorded. If the `q` parameter is empty, the search history will be recorded as only_analytics.
        required: false
        schema:
          type: string
          enum:
          - analytics_and_recent
          - only_analytics
          - dont_record
          default: 'null'
      - name: channel_ids
        in: query
        description: 'Filter by channel ids. Example.''channel_ids'': [1,2,3]'
        required: false
        schema:
          type: string
      - name: keyword
        in: query
        description: Exact search keyword without any filters and contains in q
        required: false
        schema:
          type: string
          default: 'null'
      - name: category
        in: query
        description: Filter files by the internal Hub category classification.
        required: false
        schema:
          type: string
      - name: hidden
        in: query
        description: Filter files that appear in a hidden primary channel. Null includes all files. True for hidden content only. False for non-hidden content only.
        required: false
        schema:
          type: boolean
      - name: shareable
        in: query
        description: Filter shareable files. Null returns all files. True returns files with share_status mandatory or optional. False returns files with share_status blocked.
        required: false
        schema:
          type: boolean
      - name: created_at[gte]
        in: query
        description: Filter files that are greater than equal to the created_at date and use with created_at[lte]. Date format must be Y-m-d\TH:i:sP'
        required: false
        schema:
          type: string
      - name: created_at[lte]
        in: query
        description: Filter files that are less than equal to the created_at date and use with created_at[gte]. Date format must be Y-m-d\TH:i:sP
        required: false
        schema:
          type: string
      - name: updated_at[gte]
        in: query
        description: Filter files that are greater than equal to the updated_at date and use with updated_at[lte]. Date format must be Y-m-d\TH:i:sP
        required: false
        schema:
          type: string
      - name: updated_at[lte]
        in: query
        description: Filter files that are less than equal to the updated_at date and use with updated_at[gte]. Date format must be Y-m-d\TH:i:sP
        required: false
        schema:
          type: string
      - name: sort[key]
        in: query
        description: Sorts files by key and used with sort[order]. The value for this field are 'title' or 'description' or 'created_at' or 'updated_at'
        required: false
        schema:
          type: string
      - name: sort[order]
        in: query
        description: Sorts the file search results and used with sort[key]. The value for this field are 'asc' or 'desc'.
        required: false
        schema:
          type: string
      - name: highlighted_excerpt_length
        in: query
        description: Return the number of highlighted excerpt text in search result. Default is 600, min is 100, max is 1000.
        required: false
        schema:
          type: integer
          default: 600
      - name: collapse_duplicates
        in: query
        description: Collapse duplicate search results
        required: false
        schema:
          type: boolean
      - name: offset
        in: query
        description: Starting point to return rows from a result set. Default is 0, min and max is greater than or equal 0
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: Number of results to return. Default is 50, min is 1, max is 100
        required: false
        schema:
          type: integer
          default: 50
      - $ref: '#/components/schemas/As-User'
        name: As-User
        in: header
        required: false
      responses:
        '200':
          description: A list of files
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /v1.3/search/stories:
    get:
      tags:
      - Search
      summary: Search for stories
      description: Search for stories.
      operationId: get-v1-3-search-stories
      parameters:
      - name: q
        in: query
        description: Keyword or phrase to search by. Enclose in double quotes for exact matching. Supports asterisks for wildcards.
        required: false
        schema:
          type: string
      - name: q_mode
        in: query
        description: If `SimpleSearchWithAdvancedFilters` is enabled, this field can be set to `Advanced`, `Simple`, or `null`. If `SimpleSearchWithAdvancedFilters` is disabled, `Search` is always set to `Advanced` regardless of the value of this field.
        required: false
        schema:
          type: string
          enum:
          - Advanced
          - Simple
          default: 'null'
      - name: q_fields
        in: query
        description: Fetch result matching fields
        required: false
        schema:
          type: string
          enum:
          - title
          - description
          - tags
          default: 'null'
      - name: reporting_category
        in: query
        description: The value for the `reporting_category` field will be one of analytics_and_recent, only_analytics, or dont_record. If this field is set to null, the default reporting category is set to `analytics_and_recent`. If this field is set to `dont_record`, the search history will not be recorded. If the `q` parameter is empty, the search history will be recorded as only_analytics.
        required: false
        schema:
          type: string
          enum:
          - analytics_and_recent
          - only_analytics
          - dont_record
          default: 'null'
      - name: channel_ids
        in: query
        description: 'Filter by channel ids. Example.''channel_ids'': [1,2,3]'
        required: false
        schema:
          type: string
      - name: keyword
        in: query
        description: Exact search keyword without any filters and contains in q
        required: false
        schema:
          type: string
          default: 'null'
      - name: hidden
        in: query
        description: Filter stories that appear in a hidden primary channel. Null includes all stories. True for hidden content only. False for non-hidden content only.
        required: false
        schema:
          type: boolean
      - name: shareable
        in: query
        description: Filter shareable stories. Null returns all stories. True returns stories with sharing enabled. False returns stories with sharing disabled.
        required: false
        schema:
          type: boolean
      - name: created_at[gte]
        in: query
        description: Filter stories that are greater than equal to the created_at date and use with created_at[lte]. Date format must be Y-m-d\TH:i:sP'
        required: false
        schema:
          type: string
      - name: created_at[lte]
        in: query
        description: Filter stories that are less than equal to the created_at date and use with created_at[gte]. Date format must be Y-m-d\TH:i:sP
        required: false
        schema:
          type: string
      - name: updated_at[gte]
        in: query
        description: Filter stories that are greater than equal to the updated_at date and use with updated_at[lte]. Date format must be Y-m-d\TH:i:sP
        required: false
        schema:
          type: string
      - name: updated_at[lte]
        in: query
        description: Filter stories that are less than equal to the updated_at date and use with updated_at[gte]. Date format must be Y-m-d\TH:i:sP
        required: false
        schema:
          type: string
      - name: sort[key]
        in: query
        description: Sorts stories by key and used with sort[order]. The value for this field are 'title' or 'description' or 'created_at' or 'updated_at'
        required: false
        schema:
          type: string
      - name: sort[order]
        in: query
        description: Sort the search results and used with sort[key]. The value for this field are 'asc' or 'desc'.
        required: false
        schema:
          type: string
      - name: highlighted_excerpt_length
        in: query
        description: Return the number of highlighted excerpt text in search result. Default is 600, min is 100, max is 1000.
        required: false
        schema:
          type: integer
          default: 600
      - name: collapse_duplicates
        in: query
        description: Collapse duplicate search results
        required: false
        schema:
          type: boolean
      - name: offset
        in: query
        description: Starting point to return rows from a result set. Default is 0, min and max is greater than or equal 0
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: Number of results to return. Default is 50, min is 1, max is 100
        required: false
        schema:
          type: integer
          default: 50
      - $ref: '#/components/schemas/As-User'
        name: As-User
        in: header
        required: false
      responses:
        '200':
          description: A list of stories
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
components:
  responses:
    '403':
      description: Forbidden
    '401':
      description: Unauthorized
    '400':
      description: Bad request
  schemas:
    As-User:
      description: Perform action on behalf of this user ID.
      type: string
  securitySchemes:
    oauth2_password:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Client ID + Client Secret + API Key exchanged at /services/oauth2/token with grant_type=password. Returns access_token + refresh_token. The As-User header is available only with this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
    oauth2_authorization_code:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://pubapi.bigtincan.com/services/oauth2/authorize
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Interactive Bigtincan Hub user login. The As-User header is disabled for this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
