{
  "swagger": "2.0",
  "info": {
    "title": "Bigtincan Hub Public API",
    "version": "1.0",
    "description": "The Bigtincan Hub Public API provides programmatic access to the Bigtincan sales enablement platform: stories, files, channels, tabs, groups, users, tags, bookmarks, forms, public file shares, search, CRM story recommendations, interaction tracking and admin management.",
    "contact": {
      "name": "Bigtincan Support",
      "url": "https://www.bigtincan.com/contact/"
    },
    "termsOfService": "https://www.bigtincan.com/eula/"
  },
  "host": "pubapi.bigtincan.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "oauth2_password": {
      "type": "oauth2",
      "flow": "password",
      "tokenUrl": "https://pubapi.bigtincan.com/services/oauth2/token",
      "description": "Client ID + Client Secret + API Key exchanged at /services/oauth2/token with grant_type=password. Returns access_token + refresh_token. The As-User header is available only with this flow. Source: https://pubapi.bigtincan.com/doc/interactive/",
      "scopes": {}
    },
    "oauth2_authorization_code": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://pubapi.bigtincan.com/services/oauth2/authorize",
      "tokenUrl": "https://pubapi.bigtincan.com/services/oauth2/token",
      "description": "Interactive Bigtincan Hub user login. The As-User header is disabled for this flow. Source: https://pubapi.bigtincan.com/doc/interactive/",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_password": []
    },
    {
      "oauth2_authorization_code": []
    }
  ],
  "tags": [
    {
      "name": "Admin"
    },
    {
      "name": "Bookmark"
    },
    {
      "name": "CRM"
    },
    {
      "name": "Channel"
    },
    {
      "name": "Event"
    },
    {
      "name": "File"
    },
    {
      "name": "Form"
    },
    {
      "name": "Group"
    },
    {
      "name": "History"
    },
    {
      "name": "Links"
    },
    {
      "name": "Public File Share"
    },
    {
      "name": "Search"
    },
    {
      "name": "Settings"
    },
    {
      "name": "Story"
    },
    {
      "name": "Tab"
    },
    {
      "name": "Tag"
    },
    {
      "name": "User"
    },
    {
      "name": "User Metadata"
    }
  ],
  "paths": {
    "/v1/bookmarks": {
      "get": {
        "tags": [
          "Bookmark"
        ],
        "summary": "Retrieve Stories and Files bookmark.",
        "description": "Retrieve Stories and Files bookmark.",
        "operationId": "get-v1-bookmarks",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter bookmark by type",
            "required": false,
            "type": "string",
            "default": "all",
            "enum": [
              "story",
              "files",
              "all"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by fields",
            "required": false,
            "type": "string",
            "default": "name",
            "enum": [
              "name",
              "created_at"
            ]
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Link for the urn entity type"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/channel/all": {
      "get": {
        "tags": [
          "Channel"
        ],
        "summary": "Retrieve channels.",
        "description": "Retrieve channels. Channel access is limited to the requester's group associations.",
        "operationId": "get-v1-channel-all",
        "parameters": [
          {
            "name": "tab_id",
            "in": "query",
            "description": "Tab ID to filter channels",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Key word for searching by channel name",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of channels"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/channels": {
      "post": {
        "tags": [
          "Channel"
        ],
        "summary": "Retrieve channels by ids.",
        "description": "Channel access is limited by the requester's permissions.",
        "operationId": "post-v1-channels",
        "responses": {
          "200": {
            "description": "List of found channels, channels not found or not allowed are omitted"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Channels request object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Get Channels Request"
            }
          }
        ]
      }
    },
    "/v1/admin/channels": {
      "get": {
        "tags": [
          "Admin",
          "Channel"
        ],
        "summary": "Get all admin channels",
        "description": "Retrieve all company channels.",
        "operationId": "get-v1-admin-channels",
        "parameters": [
          {
            "name": "tab_id",
            "in": "query",
            "description": "Tab ID to filter channels",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Key word for searching by channel name",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "A list of channels"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          }
        }
      }
    },
    "/v1/channel/{channel_id}": {
      "delete": {
        "tags": [
          "Channel"
        ],
        "summary": "Delete a channel.",
        "description": "Delete a channel.",
        "operationId": "delete-v1-channel-by-channel-id",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "Channel ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "archive_stories",
            "in": "query",
            "description": "Whether to archive the stories in the channel",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "204": {
            "description": "Channel deleted."
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "422": {
            "$ref": "#/responses/422"
          }
        }
      },
      "patch": {
        "tags": [
          "Channel"
        ],
        "summary": "Update a channel.",
        "description": "Update a channel.",
        "operationId": "patch-v1-channel-by-channel-id",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "Channel id",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Channel object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Update channel Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Channel updated"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1/channel/personal/add": {
      "post": {
        "tags": [
          "Channel"
        ],
        "summary": "Create a personal channel.",
        "description": "Create a personal channel.",
        "operationId": "post-v1-channel-personal-add",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Add Personal Channel Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Channel object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1/admin/channels/{channel_id}": {
      "patch": {
        "tags": [
          "Admin",
          "Channel"
        ],
        "summary": "Modify a channel",
        "description": "Modify a channel",
        "operationId": "patch-v1-admin-channels-by-channel-id",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "description": "Channel id",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Channel object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Modify channel request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel updated"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1/settings": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Retrieve settings.",
        "description": "Retrieve settings. Includes: story defaults",
        "operationId": "get-v1-settings",
        "responses": {
          "200": {
            "description": "Settings object"
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      }
    },
    "/v1/events": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Retrieve a user's events.",
        "description": "Retrieve a user's events.",
        "operationId": "get-v1-events",
        "parameters": [
          {
            "name": "between[start]",
            "in": "query",
            "description": "Start date filter for events in RFC3339 format",
            "required": true,
            "type": "string",
            "default": "2019-08-01T00:00:00+00:00"
          },
          {
            "name": "between[end]",
            "in": "query",
            "description": "End date filter for events in RFC3339 format",
            "required": true,
            "type": "string",
            "default": "2019-08-30T00:00:00+00:00"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events."
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "422": {
            "$ref": "#/responses/422"
          }
        }
      }
    },
    "/v1/files/{file_perm_id}/tags": {
      "post": {
        "tags": [
          "File"
        ],
        "summary": "Add tags to file",
        "description": "Add tags to file",
        "operationId": "post-v1-files-by-file-perm-id-tags",
        "parameters": [
          {
            "name": "file_perm_id",
            "in": "path",
            "description": "File perm id",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Tags object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Add tags to file"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tags added"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1/files/{file_perm_id}": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Retrieve file details",
        "description": "Retrieve file details",
        "operationId": "get-v1-files-by-file-perm-id",
        "parameters": [
          {
            "name": "file_perm_id",
            "in": "path",
            "description": "File perm id",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A file array"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          }
        }
      }
    },
    "/v1/files": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Retrieve files",
        "description": "Retrieve files",
        "operationId": "get-v1-files",
        "parameters": [
          {
            "name": "tab_id",
            "in": "query",
            "description": "Tab id",
            "required": false,
            "type": "integer"
          },
          {
            "name": "channel_id",
            "in": "query",
            "description": "Channel id",
            "required": false,
            "type": "integer"
          },
          {
            "name": "dateModified",
            "in": "query",
            "description": "Gets all files after this date",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of files"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/file/allowed-extensions": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Retrieve allowed file extensions",
        "description": "Retrieve allowed file extensions",
        "operationId": "get-v1-file-allowed-extensions",
        "responses": {
          "200": {
            "description": "A list of allowed file extensions"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/form_category/all": {
      "get": {
        "tags": [
          "Form"
        ],
        "summary": "Retrieve form categories.",
        "description": "Retrieve form categories.",
        "operationId": "get-v1-form-category-all",
        "parameters": [
          {
            "name": "include_groups",
            "in": "query",
            "description": "Include groups",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of form categories"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/form/all": {
      "get": {
        "tags": [
          "Form"
        ],
        "summary": "Retrieve forms.",
        "description": "Retrieve forms.",
        "operationId": "get-v1-form-all",
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "description": "Category ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "include_groups",
            "in": "query",
            "description": "Include groups",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of forms"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/form/get/{form_id}": {
      "get": {
        "tags": [
          "Form"
        ],
        "summary": "Get a form.",
        "description": "Get a form.",
        "operationId": "get-v1-form-get-by-form-id",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "description": "Form ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "include_data_sources",
            "in": "query",
            "description": "Include data sources",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Form object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/form/data/{form_id}": {
      "get": {
        "tags": [
          "Form"
        ],
        "summary": "Retrieve form data.",
        "description": "Retrieve form data.",
        "operationId": "get-v1-form-data-by-form-id",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "description": "Form ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Form submission ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Form submission data"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/form/get_file/{form_id}/{submission_key}/{filename}": {
      "get": {
        "tags": [
          "Form"
        ],
        "summary": "Get a form file.",
        "description": "Get a form file.",
        "operationId": "get-v1-form-get-file-by-form-id-by-submission-key-by-filename",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "description": "Form ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "submission_key",
            "in": "path",
            "description": "Submission key",
            "required": true,
            "type": "string"
          },
          {
            "name": "filename",
            "in": "path",
            "description": "Filename",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "File download"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/group/all": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "Retrieve groups.",
        "description": "Retrieve groups.",
        "operationId": "get-v1-group-all",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search keywords",
            "required": false,
            "type": "string"
          },
          {
            "name": "include_personal_group",
            "in": "query",
            "description": "Include personal groups",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of groups"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/group": {
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Create a group.",
        "description": "Create a group.",
        "operationId": "post-v1-group",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Group object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Add Group Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Group object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/admin/groups/{group_id}": {
      "delete": {
        "tags": [
          "Admin",
          "Group"
        ],
        "summary": "Delete a group.",
        "description": "Delete a group.",
        "operationId": "delete-v1-admin-groups-by-group-id",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Group Deleted"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "422": {
            "$ref": "#/responses/422"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin",
          "Group"
        ],
        "summary": "Modify a group.",
        "description": "Modify a group.",
        "operationId": "patch-v1-admin-groups-by-group-id",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "Group id",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Group object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Modify Group Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Group updated"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1/group/{group_id}/users": {
      "put": {
        "tags": [
          "Group"
        ],
        "summary": "Adds users to a group.",
        "description": "Adds users to a group.",
        "operationId": "put-v1-group-by-group-id-users",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "User ID array",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Add User to Group Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "User added to group"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/admin/group/get/{group_id}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get a group.",
        "description": "Get a group.",
        "operationId": "get-v1-admin-group-get-by-group-id",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Group object"
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      }
    },
    "/v1/admin/groups/{group_id}/users/{user_id}": {
      "delete": {
        "tags": [
          "Admin",
          "Group"
        ],
        "summary": "Remove user from a group",
        "description": "Remove a user from a group",
        "operationId": "delete-v1-admin-groups-by-group-id-users-by-user-id",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "Group Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Remove user from group"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "422": {
            "$ref": "#/responses/422"
          }
        }
      }
    },
    "/v1/track_interactions": {
      "post": {
        "tags": [
          "History"
        ],
        "summary": "Record user interactions.",
        "description": "Record user interactions.",
        "operationId": "post-v1-track-interactions",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Interaction object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Record Interaction Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Interaction recorded"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/links": {
      "post": {
        "tags": [
          "Links"
        ],
        "summary": "Retrieve links from URN.",
        "description": "Retrieve links from URN for the entity type. Story and File type supported. Story expects perm_id and file expects id.",
        "operationId": "post-v1-links",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Whether to add token in the urn",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "body",
            "in": "body",
            "description": "Links object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Get links from URN"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link for the urn entity type"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/shares": {
      "get": {
        "tags": [
          "Public File Share"
        ],
        "summary": "Retrieve a user's shares.",
        "description": "Retrieve a user's shares.",
        "operationId": "get-v1-shares",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Share details."
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      },
      "post": {
        "tags": [
          "Public File Share"
        ],
        "summary": "Create a share.",
        "description": "Create a share.",
        "operationId": "post-v1-shares",
        "responses": {
          "201": {
            "description": "Share successfully created."
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "422": {
            "$ref": "#/responses/422"
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Share object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Create Share Request"
            }
          }
        ]
      }
    },
    "/v1/shares/{share_id}": {
      "get": {
        "tags": [
          "Public File Share"
        ],
        "summary": "Retrieve a share.",
        "description": "Retrieve a share.",
        "operationId": "get-v1-shares-by-share-id",
        "parameters": [
          {
            "name": "share_id",
            "in": "path",
            "description": "Share hash id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Share details."
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          }
        }
      },
      "delete": {
        "tags": [
          "Public File Share"
        ],
        "summary": "Delete a share.",
        "description": "Delete a share.",
        "operationId": "delete-v1-shares-by-share-id",
        "parameters": [
          {
            "name": "share_id",
            "in": "path",
            "description": "Share hash id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Share successfully deleted"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          }
        }
      }
    },
    "/v1/shares/{share_id}/files/{file_id}": {
      "put": {
        "tags": [
          "Public File Share"
        ],
        "summary": "Add a file to a share.",
        "description": "Add a file to a share. Returns a Content-Location header that contains a landing page URL with the added file selected.",
        "operationId": "put-v1-shares-by-share-id-files-by-file-id",
        "parameters": [
          {
            "name": "share_id",
            "in": "path",
            "description": "Share hash id",
            "required": true,
            "type": "string"
          },
          {
            "name": "file_id",
            "in": "path",
            "description": "File id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "File successfully added to share"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "422": {
            "description": "File already exists in the share."
          }
        }
      },
      "delete": {
        "tags": [
          "Public File Share"
        ],
        "summary": "Remove a file from a share.",
        "description": "Remove a file from a share.",
        "operationId": "delete-v1-shares-by-share-id-files-by-file-id",
        "parameters": [
          {
            "name": "share_id",
            "in": "path",
            "description": "Share hash id",
            "required": true,
            "type": "string"
          },
          {
            "name": "file_id",
            "in": "path",
            "description": "File id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "File successfully removed from share"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "422": {
            "description": "File does not exist in the share."
          }
        }
      }
    },
    "/v1/story/add/tag/{story_perm_id}": {
      "post": {
        "tags": [
          "Story"
        ],
        "summary": "Tag a story.",
        "description": "Tag a story.",
        "operationId": "post-v1-story-add-tag-by-story-perm-id",
        "parameters": [
          {
            "name": "story_perm_id",
            "in": "path",
            "description": "Story Perm ID",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "tag",
            "required": true,
            "type": "string",
            "description": "Tag name"
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Tag object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/story/archive/{revision_id}": {
      "delete": {
        "tags": [
          "Story"
        ],
        "summary": "Archive a story.",
        "description": "Archive a story.",
        "operationId": "delete-v1-story-archive-by-revision-id",
        "parameters": [
          {
            "name": "revision_id",
            "in": "path",
            "description": "Active story revision ID",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Story archived"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/story/comment/{revision_id}": {
      "post": {
        "tags": [
          "Story"
        ],
        "summary": "Comment on a story.",
        "description": "Comment on a story.",
        "operationId": "post-v1-story-comment-by-revision-id",
        "parameters": [
          {
            "name": "revision_id",
            "in": "path",
            "description": "Story revision ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Comment object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Add Comment Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Comment object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/story/crm/recommendation": {
      "get": {
        "tags": [
          "CRM"
        ],
        "summary": "Retrieve story CRM recommendations.",
        "description": "\n    Story CRM recommendations are based on the provided keywords and CRM metadata set on stories.\n\n    Files will be returned based on the provided keywords.\n    Stories will be returned based on CRM metadata. If no results are found via metadata then stories will be returned based on the provided keywords.",
        "operationId": "get-v1-story-crm-recommendation",
        "parameters": [
          {
            "name": "opportunity_id",
            "in": "query",
            "description": "CRM opportunity ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "opportunity_stage",
            "in": "query",
            "description": "CRM opportunity stage",
            "required": true,
            "type": "string"
          },
          {
            "name": "opportunity_description",
            "in": "query",
            "description": "CRM opportunity description",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of recommendations",
            "type": "integer"
          },
          {
            "name": "search_keywords",
            "in": "query",
            "description": "Keywords separated by a semi-colon",
            "type": "string"
          },
          {
            "name": "crm_products",
            "in": "query",
            "description": "JSON array of strings of CRM product names",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Recommendations"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "422": {
            "$ref": "#/responses/422"
          }
        }
      }
    },
    "/v1/story/search": {
      "get": {
        "tags": [
          "Story"
        ],
        "summary": "Search for stories.",
        "description": "DEPRECATED: use /search/stories instead. Search for stories.\n\n    Generic Search (For example find all documents with term 'test')\n    Send 'test' as the keyword.\n\n    Search Types\n    - Stories returns stories.\n    - Files returns files.\n    - Tags returns stories and files with the requested tag.\n\n    You can search in following sections. Fields for each search type will be as follows:\n    Stories - title, description\n    Files - filename, content, extension\n    Comments - comment, user\n    Meetings - title, description\n    People - firstname, lastname, email, jobtitle, skill\n    Tags - tagNotes - title,content\n\n    Examples:\n    Request format for searching text 'test' only in story title - fields[0]=title or you can even send fields=title if\n    there is only one field Request format for searching text 'test' in both story title and description -\n    fields[0]=title, fields[1]=description Fields depend on type selected\n\n    Filters\n    The following aggregation filters are provided:\n    tab, channel, author, range and (tag - for stories or mime - for files)\n\n    The search result contains aggregated results with id, term and count which can be used to narrow down searchresults\n\n    Example:\n    To filter search results by specific tabs:\n    Keyword: test\n    Filters would contain the JSON object:\n    {'tab_id':['dbAUxa', 'sFicvuF']}\n\n    If you want to drill down further by channel and author:\n\n    Filters would contain the JSON object:\n    {'tab_id':['dbAUxa', 'sFicvuF'], 'channel_id':['cuydsy', 'dsoivwP], 'author_id':['XMudha'], 'range':[{'unit':'months','value':1}]}\n\n    Date Filter\n    You can specify three units - days, weeks and months.\n\n    Example:\n    Last Month - date filter to be used for last month is [{'unit':'months','value':1}]\n    Last Week - [{'unit':'weeks','value':1}]\n    Last 24 Hours - [{'unit':'days','value':1}]\n    Last 6 Months - [{'unit':'months', 'value':6}]\n    ",
        "operationId": "get-v1-story-search",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "Keywords",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "JSON object of Fields within search type",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Search Type",
            "required": false,
            "type": "string",
            "enum": [
              "stories",
              "files",
              "tags"
            ]
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON object with array of IDs - List of possible filters are described above",
            "required": false,
            "type": "string"
          },
          {
            "name": "date_filter",
            "in": "query",
            "description": "JSON object of Date filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "exclude_internal_files",
            "in": "query",
            "description": "Exclude internal files like btc, btcf, btca, btce",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of stories"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/story/share/{revision_id}": {
      "post": {
        "tags": [
          "Story"
        ],
        "summary": "Share a story.",
        "description": "Share a story.",
        "operationId": "post-v1-story-share-by-revision-id",
        "parameters": [
          {
            "name": "revision_id",
            "in": "path",
            "description": "Story revision ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Share object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Share Story Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Share sent"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/story/upload/file": {
      "post": {
        "tags": [
          "Story"
        ],
        "summary": "Upload a file to attach to a new or existing story.",
        "description": "Upload a file to attach to a new or existing story.\n\n    Upon success an array of objects will be returned with the following keys: filename, description, category, size\n\n    Upon failure an array of objects will be returned with the following keys: code, message, filename\n\n    The order in which files were uploaded is maintained when output is returned.",
        "operationId": "post-v1-story-upload-file",
        "parameters": [
          {
            "in": "formData",
            "name": "upload_type",
            "required": true,
            "type": "string",
            "description": "Upload type",
            "enum": [
              "file"
            ]
          },
          {
            "in": "formData",
            "name": "files",
            "required": true,
            "type": "file",
            "description": "Files"
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "File object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/story/{story_perm_id}/widgets": {
      "get": {
        "tags": [
          "Story"
        ],
        "summary": "Get widgets in the template data of a story.",
        "description": "Get widgets in the template data of a story.",
        "operationId": "get-v1-story-by-story-perm-id-widgets",
        "parameters": [
          {
            "name": "story_perm_id",
            "in": "path",
            "description": "Story perm id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Recommendations"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "422": {
            "$ref": "#/responses/422"
          }
        }
      }
    },
    "/v1/tab/all": {
      "get": {
        "tags": [
          "Tab"
        ],
        "summary": "Retrieve tabs.",
        "description": "Retrieve tabs. Tab access is limited to the requester's group associations.",
        "operationId": "get-v1-tab-all",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search by tab name",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by tab type (regular/web)",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tabs"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/admin/tabs": {
      "get": {
        "tags": [
          "Admin",
          "Tab"
        ],
        "summary": "Retrieve admin tabs.",
        "description": "Get all tabs as an admin.",
        "operationId": "get-v1-admin-tabs",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search by tab name",
            "required": false,
            "type": "string"
          },
          {
            "name": "include_channel_count",
            "in": "query",
            "description": "Include channel count of tab",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tabs"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/tab": {
      "post": {
        "tags": [
          "Tab"
        ],
        "summary": "Create a tab.",
        "description": "Create a tab.",
        "operationId": "post-v1-tab",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Tab object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Add Tab Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Tab object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/tabs/{tab_id}/channels/{channel_id}/groups": {
      "put": {
        "tags": [
          "Tab"
        ],
        "summary": "Add groups to a tab.",
        "description": "Add one or more groups to a tab-channel relationship to complete a full relationship. The tab and channel will become visible to all users in the groups based on the permissions set.\n\n    Permissions:\n    - View: 1\n    - Publish: 2\n    - View and Publish: 3\n    - View and Edit: 9",
        "operationId": "put-v1-tabs-by-tab-id-channels-by-channel-id-groups",
        "parameters": [
          {
            "name": "tab_id",
            "in": "path",
            "description": "Tab ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "Channel ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Group object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Add Group To Tab Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Relationship object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/tabs/{tab_id}/channels/{channel_id}/groups/{group_id}": {
      "delete": {
        "tags": [
          "Tab"
        ],
        "summary": "Remove a group from a tab.",
        "description": "Remove a group from a tab.",
        "operationId": "delete-v1-tabs-by-tab-id-channels-by-channel-id-groups-by-group-id",
        "parameters": [
          {
            "name": "tab_id",
            "in": "path",
            "description": "Tab ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "Channel ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "204": {
            "description": "Group removed from tab"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/tab/{tab_id}": {
      "delete": {
        "tags": [
          "Tab"
        ],
        "summary": "Delete a tab.",
        "description": "Delete a tab.",
        "operationId": "delete-v1-tab-by-tab-id",
        "parameters": [
          {
            "name": "tab_id",
            "in": "path",
            "description": "Tab ID",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "204": {
            "description": "Tab deleted"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/admin/tabs/{tab_id}": {
      "patch": {
        "tags": [
          "Admin",
          "Tab"
        ],
        "summary": "Modify a tab",
        "description": "Modify a tab",
        "operationId": "patch-v1-admin-tabs-by-tab-id",
        "parameters": [
          {
            "name": "tab_id",
            "in": "path",
            "description": "Tab id",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Tab object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Modify tab request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tab updated"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1/tags": {
      "get": {
        "tags": [
          "Tag"
        ],
        "summary": "Get Tags",
        "description": "Retrieve company tags.",
        "operationId": "get-v1-tags",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filters tags, returning those that contain the term",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer",
            "default": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tags"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/user/{user_id}": {
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "Delete a user.",
        "description": "Delete a user.",
        "operationId": "delete-v1-user-by-user-id",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "Active user id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "User Delete"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/user/change-password": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Change the current user's password.",
        "description": "Change the current user's password.",
        "operationId": "patch-v1-user-change-password",
        "responses": {
          "200": {
            "description": "Password reset successfully"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Change password object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Change Password Request"
            }
          }
        ]
      }
    },
    "/v1/user/forgot-password": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Send a reset password email.",
        "description": "Send a reset password email to an email address when a user has forgotten their password.",
        "operationId": "patch-v1-user-forgot-password",
        "responses": {
          "200": {
            "description": "Reset password email sent"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "422": {
            "$ref": "#/responses/422"
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Reset password object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Reset Password Request"
            }
          }
        ]
      }
    },
    "/v1/user/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get information about the current user.",
        "description": "Get information about the current user.",
        "operationId": "get-v1-user-me",
        "parameters": [
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "User object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1/user-metadata": {
      "get": {
        "tags": [
          "User Metadata"
        ],
        "summary": "Retrieve all user metadata.",
        "description": "Retrieve user metadata.",
        "operationId": "get-v1-user-metadata",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "A list of user metadata."
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      }
    },
    "/v1/user/{user_id}/metadata": {
      "get": {
        "tags": [
          "User Metadata",
          "User"
        ],
        "summary": "Retrieve a user's metadata.",
        "description": "Retrieve a user's metadata",
        "operationId": "get-v1-user-by-user-id-metadata",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of a user's metadata."
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "404": {
            "$ref": "#/responses/404"
          }
        }
      },
      "patch": {
        "tags": [
          "User Metadata",
          "User"
        ],
        "summary": "Update user metadata.",
        "description": "Replaces all the existing user metadata with the ones provided in the json body. Wipes a user's assigned metadata with an empty array [ ]",
        "operationId": "patch-v1-user-by-user-id-metadata",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Update User Metadata Request"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User metadata updated successfully."
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "422": {
            "$ref": "#/responses/422"
          }
        }
      }
    },
    "/v1.1/channel": {
      "post": {
        "tags": [
          "Channel"
        ],
        "summary": "Create a channel.",
        "description": "Create a channel.",
        "operationId": "post-v1-1-channel",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Channel object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Add Public Channel Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Channel object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1.1/admin/group/all": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Retrieve groups.",
        "description": "Retrieve groups.",
        "operationId": "get-v1-1-admin-group-all",
        "parameters": [
          {
            "name": "channel_id",
            "in": "query",
            "description": "Filter groups by channel ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Set filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by group name or external id",
            "required": false,
            "type": "string"
          },
          {
            "name": "include_child_data",
            "in": "query",
            "description": "Set to true to retrieve an array of users for each group",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "include_parent_ids",
            "in": "query",
            "description": "Set to true to retrieve an array of channel IDs for each group (admin only)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "include_personal_groups",
            "in": "query",
            "description": "Set to true to include personal user groups",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by fields",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Set to true to include inactive users in per-group member counts and child data",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "include_invited",
            "in": "query",
            "description": "Set to true to include invited users in per-group member counts and child data",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of groups"
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      }
    },
    "/v1.1/story/get/{story_perm_id}": {
      "get": {
        "tags": [
          "Story"
        ],
        "summary": "Retrieve a story.",
        "description": "Retrieve a story.",
        "operationId": "get-v1-1-story-get-by-story-perm-id",
        "parameters": [
          {
            "name": "story_perm_id",
            "in": "path",
            "description": "Story Perm ID",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Story object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1.1/admin/user/get/{user_id}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get a user.",
        "description": "Get a user.",
        "operationId": "get-v1-1-admin-user-get-by-user-id",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "User object"
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      }
    },
    "/v1.1/user": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Create a new user.",
        "description": "Create a new user.",
        "operationId": "post-v1-1-user",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "User object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Add User Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "User object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      },
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Update an existing user.",
        "description": "Update an existing user. All fields other than id are optional. Setting a new password for the user would result in the also updating the status as “active” (if not already active) for the given user.",
        "operationId": "patch-v1-1-user",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "User object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Update User Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "User object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1.3/search/files": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for files.",
        "description": "Search for files.",
        "operationId": "get-v1-3-search-files",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Keyword or phrase to search by. Enclose in double quotes for exact matching. Supports asterisks for wildcards.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q_mode",
            "in": "query",
            "description": "If `SimpleSearchWithAdvancedFilters` is enabled, this field can be set to `Advanced`, `Simple`, or `null`. If `SimpleSearchWithAdvancedFilters` is disabled, `Search` is always set to `Advanced` regardless of the value of this field.",
            "required": false,
            "type": "string",
            "default": "null",
            "enum": [
              "Advanced",
              "Simple"
            ]
          },
          {
            "name": "q_fields",
            "in": "query",
            "description": "Fetch result matching fields",
            "required": false,
            "type": "string",
            "default": "null",
            "enum": [
              "description",
              "content",
              "tags"
            ]
          },
          {
            "name": "reporting_category",
            "in": "query",
            "description": "The value for the `reporting_category` field will be one of analytics_and_recent, only_analytics, or dont_record. If this field is set to null, the default reporting category is set to `analytics_and_recent`. If this field is set to `dont_record`, the search history will not be recorded. If the `q` parameter is empty, the search history will be recorded as only_analytics.",
            "required": false,
            "type": "string",
            "default": "null",
            "enum": [
              "analytics_and_recent",
              "only_analytics",
              "dont_record"
            ]
          },
          {
            "name": "channel_ids",
            "in": "query",
            "description": "Filter by channel ids. Example.'channel_ids': [1,2,3]",
            "required": false,
            "type": "string"
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Exact search keyword without any filters and contains in q",
            "required": false,
            "type": "string",
            "default": "null"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter files by the internal Hub category classification.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hidden",
            "in": "query",
            "description": "Filter files that appear in a hidden primary channel. Null includes all files. True for hidden content only. False for non-hidden content only.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "shareable",
            "in": "query",
            "description": "Filter shareable files. Null returns all files. True returns files with share_status mandatory or optional. False returns files with share_status blocked.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "created_at[gte]",
            "in": "query",
            "description": "Filter files that are greater than equal to the created_at date and use with created_at[lte]. Date format must be Y-m-d\\TH:i:sP'",
            "required": false,
            "type": "string"
          },
          {
            "name": "created_at[lte]",
            "in": "query",
            "description": "Filter files that are less than equal to the created_at date and use with created_at[gte]. Date format must be Y-m-d\\TH:i:sP",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at[gte]",
            "in": "query",
            "description": "Filter files that are greater than equal to the updated_at date and use with updated_at[lte]. Date format must be Y-m-d\\TH:i:sP",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at[lte]",
            "in": "query",
            "description": "Filter files that are less than equal to the updated_at date and use with updated_at[gte]. Date format must be Y-m-d\\TH:i:sP",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort[key]",
            "in": "query",
            "description": "Sorts files by key and used with sort[order]. The value for this field are 'title' or 'description' or 'created_at' or 'updated_at'",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort[order]",
            "in": "query",
            "description": "Sorts the file search results and used with sort[key]. The value for this field are 'asc' or 'desc'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "highlighted_excerpt_length",
            "in": "query",
            "description": "Return the number of highlighted excerpt text in search result. Default is 600, min is 100, max is 1000.",
            "required": false,
            "type": "integer",
            "default": 600
          },
          {
            "name": "collapse_duplicates",
            "in": "query",
            "description": "Collapse duplicate search results",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting point to return rows from a result set. Default is 0, min and max is greater than or equal 0",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return. Default is 50, min is 1, max is 100",
            "required": false,
            "type": "integer",
            "default": 50
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of files"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1.3/search/stories": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for stories.",
        "description": "Search for stories.",
        "operationId": "get-v1-3-search-stories",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Keyword or phrase to search by. Enclose in double quotes for exact matching. Supports asterisks for wildcards.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q_mode",
            "in": "query",
            "description": "If `SimpleSearchWithAdvancedFilters` is enabled, this field can be set to `Advanced`, `Simple`, or `null`. If `SimpleSearchWithAdvancedFilters` is disabled, `Search` is always set to `Advanced` regardless of the value of this field.",
            "required": false,
            "type": "string",
            "default": "null",
            "enum": [
              "Advanced",
              "Simple"
            ]
          },
          {
            "name": "q_fields",
            "in": "query",
            "description": "Fetch result matching fields",
            "required": false,
            "type": "string",
            "default": "null",
            "enum": [
              "title",
              "description",
              "tags"
            ]
          },
          {
            "name": "reporting_category",
            "in": "query",
            "description": "The value for the `reporting_category` field will be one of analytics_and_recent, only_analytics, or dont_record. If this field is set to null, the default reporting category is set to `analytics_and_recent`. If this field is set to `dont_record`, the search history will not be recorded. If the `q` parameter is empty, the search history will be recorded as only_analytics.",
            "required": false,
            "type": "string",
            "default": "null",
            "enum": [
              "analytics_and_recent",
              "only_analytics",
              "dont_record"
            ]
          },
          {
            "name": "channel_ids",
            "in": "query",
            "description": "Filter by channel ids. Example.'channel_ids': [1,2,3]",
            "required": false,
            "type": "string"
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Exact search keyword without any filters and contains in q",
            "required": false,
            "type": "string",
            "default": "null"
          },
          {
            "name": "hidden",
            "in": "query",
            "description": "Filter stories that appear in a hidden primary channel. Null includes all stories. True for hidden content only. False for non-hidden content only.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "shareable",
            "in": "query",
            "description": "Filter shareable stories. Null returns all stories. True returns stories with sharing enabled. False returns stories with sharing disabled.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "created_at[gte]",
            "in": "query",
            "description": "Filter stories that are greater than equal to the created_at date and use with created_at[lte]. Date format must be Y-m-d\\TH:i:sP'",
            "required": false,
            "type": "string"
          },
          {
            "name": "created_at[lte]",
            "in": "query",
            "description": "Filter stories that are less than equal to the created_at date and use with created_at[gte]. Date format must be Y-m-d\\TH:i:sP",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at[gte]",
            "in": "query",
            "description": "Filter stories that are greater than equal to the updated_at date and use with updated_at[lte]. Date format must be Y-m-d\\TH:i:sP",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at[lte]",
            "in": "query",
            "description": "Filter stories that are less than equal to the updated_at date and use with updated_at[gte]. Date format must be Y-m-d\\TH:i:sP",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort[key]",
            "in": "query",
            "description": "Sorts stories by key and used with sort[order]. The value for this field are 'title' or 'description' or 'created_at' or 'updated_at'",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort[order]",
            "in": "query",
            "description": "Sort the search results and used with sort[key]. The value for this field are 'asc' or 'desc'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "highlighted_excerpt_length",
            "in": "query",
            "description": "Return the number of highlighted excerpt text in search result. Default is 600, min is 100, max is 1000.",
            "required": false,
            "type": "integer",
            "default": 600
          },
          {
            "name": "collapse_duplicates",
            "in": "query",
            "description": "Collapse duplicate search results",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting point to return rows from a result set. Default is 0, min and max is greater than or equal 0",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return. Default is 50, min is 1, max is 100",
            "required": false,
            "type": "integer",
            "default": 50
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of stories"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1.3/admin/user/all": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Retrieve users.",
        "description": "Retrieve users.",
        "operationId": "get-v1-3-admin-user-all",
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "description": "Filter users by group ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "role",
            "in": "query",
            "description": "Filter users by role.",
            "required": false,
            "type": "string",
            "enum": [
              "user",
              "structure_admin",
              "admin",
              "company_manager",
              "super_admin"
            ]
          },
          {
            "name": "search",
            "in": "query",
            "description": "Key word for searching by user full name or email",
            "required": false,
            "type": "string"
          },
          {
            "name": "include_groups",
            "in": "query",
            "description": "Include user group information.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by fields",
            "required": false,
            "type": "string",
            "enum": [
              "badges",
              "firstname",
              "jobtitle",
              "lastname"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          },
          {
            "name": "include_metadata",
            "in": "query",
            "description": "Include user metadata",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include users with status 'inactive' in the response. Default: false (active users only).",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "include_invited",
            "in": "query",
            "description": "Include users with status 'invited' in the response. Default: false (active users only).",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of users"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "422": {
            "$ref": "#/responses/422"
          }
        }
      }
    },
    "/v1.2/story/all": {
      "get": {
        "tags": [
          "Story"
        ],
        "summary": "Retrieve stories.",
        "description": "Retrieve stories. Story access limited to the requester's group associations.",
        "operationId": "get-v1-2-story-all",
        "parameters": [
          {
            "name": "channel_id",
            "in": "query",
            "description": "Channel ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination: current page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination: results per page. Max 100",
            "required": false,
            "type": "integer",
            "default": 10
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by fields",
            "required": false,
            "type": "string",
            "enum": [
              "date",
              "likes",
              "most_read",
              "least_read",
              "author_first_name",
              "author_last_name",
              "priority_order",
              "content_score",
              "title"
            ]
          },
          {
            "name": "include_comments",
            "in": "query",
            "description": "Include comments to story",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of stories"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1.2/story/add": {
      "post": {
        "tags": [
          "Story"
        ],
        "summary": "Publish a story.",
        "description": "Publish a story.\n\n    Sharing bitmask:\n    The field 'sharing_bitmask' is a combination of the following bits:\n    - No sharing: 0\n    - Device sharing: 1\n    - Share with Audit: 2",
        "operationId": "post-v1-2-story-add",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Story object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Add Story Request"
            }
          },
          {
            "$ref": "#/definitions/As-User",
            "name": "As-User",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Story object"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/v1.2/story/edit/{revision_id}": {
      "put": {
        "tags": [
          "Story"
        ],
        "summary": "Update a story.",
[...]
