openapi: 3.2.0
info:
  title: Bigtincan Hub Public User Metadata API
  version: '1.0'
  description: 'The Bigtincan Hub Public API provides programmatic access to the Bigtincan sales enablement platform: stories, files, channels, tabs, groups, users, tags, bookmarks, forms, public file shares, search, CRM story recommendations, interaction tracking and admin management.'
  contact:
    name: Bigtincan Support
    url: https://www.bigtincan.com/contact/
  termsOfService: https://www.bigtincan.com/eula/
servers:
- url: https://pubapi.bigtincan.com/
security:
- oauth2_password: []
- oauth2_authorization_code: []
tags:
- name: User Metadata
paths:
  /v1/user-metadata:
    get:
      tags:
      - User Metadata
      summary: Retrieve all user metadata.
      description: Retrieve user metadata.
      operationId: get-v1-user-metadata
      parameters:
      - name: page
        in: query
        description: 'Pagination: current page'
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        description: 'Pagination: results per page. Max 100'
        required: false
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: A list of user metadata.
        '401':
          $ref: '#/components/responses/401'
  /v1/user/{user_id}/metadata:
    get:
      tags:
      - User Metadata
      summary: Retrieve a user's metadata.
      description: Retrieve a user's metadata
      operationId: get-v1-user-by-user-id-metadata
      parameters:
      - name: user_id
        in: path
        description: User ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of a user's metadata.
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
    patch:
      tags:
      - User Metadata
      summary: Update user metadata.
      description: Replaces all the existing user metadata with the ones provided in the json body. Wipes a user's assigned metadata with an empty array [ ]
      operationId: patch-v1-user-by-user-id-metadata
      parameters:
      - name: user_id
        in: path
        description: User ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: User metadata updated successfully.
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update_User_Metadata_Request'
        required: true
components:
  responses:
    '422':
      description: Validation error
    '401':
      description: Unauthorized
    '404':
      description: Not found
  schemas:
    Update_User_Metadata_Request:
      type: array
      items:
        required:
        - id
        properties:
          id:
            description: User Metadata Value ID
            type: string
        type: object
  securitySchemes:
    oauth2_password:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Client ID + Client Secret + API Key exchanged at /services/oauth2/token with grant_type=password. Returns access_token + refresh_token. The As-User header is available only with this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
    oauth2_authorization_code:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://pubapi.bigtincan.com/services/oauth2/authorize
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Interactive Bigtincan Hub user login. The As-User header is disabled for this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
