openapi: 3.2.0
info:
  title: Bigtincan Hub Public Links API
  version: '1.0'
  description: 'The Bigtincan Hub Public API provides programmatic access to the Bigtincan sales enablement platform: stories, files, channels, tabs, groups, users, tags, bookmarks, forms, public file shares, search, CRM story recommendations, interaction tracking and admin management.'
  contact:
    name: Bigtincan Support
    url: https://www.bigtincan.com/contact/
  termsOfService: https://www.bigtincan.com/eula/
servers:
- url: https://pubapi.bigtincan.com/
security:
- oauth2_password: []
- oauth2_authorization_code: []
tags:
- name: Links
paths:
  /v1/links:
    post:
      tags:
      - Links
      summary: Retrieve links from URN.
      description: Retrieve links from URN for the entity type. Story and File type supported. Story expects perm_id and file expects id.
      operationId: post-v1-links
      parameters:
      - name: token
        in: query
        description: Whether to add token in the urn
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Link for the urn entity type
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Get_links_from_URN'
        description: Links object
        required: true
components:
  responses:
    '400':
      description: Bad request
    '401':
      description: Unauthorized
    '403':
      description: Forbidden
  schemas:
    Get_links_from_URN:
      required:
      - urn
      properties:
        urn:
          description: urnScheme:namespace:systemInstance:entityType:identifier
          type: string
          example: urn:btc0:push.bigtincan.com:Story:1111
      type: object
  securitySchemes:
    oauth2_password:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Client ID + Client Secret + API Key exchanged at /services/oauth2/token with grant_type=password. Returns access_token + refresh_token. The As-User header is available only with this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
    oauth2_authorization_code:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://pubapi.bigtincan.com/services/oauth2/authorize
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Interactive Bigtincan Hub user login. The As-User header is disabled for this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
