openapi: 3.2.0
info:
  title: Bigtincan Hub Public Event API
  version: '1.0'
  description: 'The Bigtincan Hub Public API provides programmatic access to the Bigtincan sales enablement platform: stories, files, channels, tabs, groups, users, tags, bookmarks, forms, public file shares, search, CRM story recommendations, interaction tracking and admin management.'
  contact:
    name: Bigtincan Support
    url: https://www.bigtincan.com/contact/
  termsOfService: https://www.bigtincan.com/eula/
servers:
- url: https://pubapi.bigtincan.com/
security:
- oauth2_password: []
- oauth2_authorization_code: []
tags:
- name: Event
paths:
  /v1/events:
    get:
      tags:
      - Event
      summary: Retrieve a user's events
      description: Retrieve a user's events.
      operationId: get-v1-events
      parameters:
      - name: between[start]
        in: query
        description: Start date filter for events in RFC3339 format
        required: true
        schema:
          type: string
          default: '2019-08-01T00:00:00+00:00'
      - name: between[end]
        in: query
        description: End date filter for events in RFC3339 format
        required: true
        schema:
          type: string
          default: '2019-08-30T00:00:00+00:00'
      - name: limit
        in: query
        description: 'Pagination: results per page. Max 100'
        required: false
        schema:
          type: integer
          default: 10
      - name: page
        in: query
        description: 'Pagination: current page'
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: List of events.
        '401':
          $ref: '#/components/responses/401'
        '422':
          $ref: '#/components/responses/422'
components:
  responses:
    '422':
      description: Validation error
    '401':
      description: Unauthorized
  securitySchemes:
    oauth2_password:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Client ID + Client Secret + API Key exchanged at /services/oauth2/token with grant_type=password. Returns access_token + refresh_token. The As-User header is available only with this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
    oauth2_authorization_code:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://pubapi.bigtincan.com/services/oauth2/authorize
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Interactive Bigtincan Hub user login. The As-User header is disabled for this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
