openapi: 3.2.0
info:
  title: Bigtincan Hub Public Form API
  version: '1.0'
  description: 'The Bigtincan Hub Public API provides programmatic access to the Bigtincan sales enablement platform: stories, files, channels, tabs, groups, users, tags, bookmarks, forms, public file shares, search, CRM story recommendations, interaction tracking and admin management.'
  contact:
    name: Bigtincan Support
    url: https://www.bigtincan.com/contact/
  termsOfService: https://www.bigtincan.com/eula/
servers:
- url: https://pubapi.bigtincan.com/
security:
- oauth2_password: []
- oauth2_authorization_code: []
tags:
- name: Form
paths:
  /v1/form_category/all:
    get:
      tags:
      - Form
      summary: Retrieve form categories.
      description: Retrieve form categories.
      operationId: get-v1-form-category-all
      parameters:
      - name: include_groups
        in: query
        description: Include groups
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        description: 'Pagination: current page'
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        description: 'Pagination: results per page. Max 100'
        required: false
        schema:
          type: integer
          default: 10
      - $ref: '#/components/schemas/As-User'
        name: As-User
        in: header
        required: false
      responses:
        '200':
          description: A list of form categories
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /v1/form/all:
    get:
      tags:
      - Form
      summary: Retrieve forms.
      description: Retrieve forms.
      operationId: get-v1-form-all
      parameters:
      - name: category_id
        in: query
        description: Category ID
        required: false
        schema:
          type: string
      - name: include_groups
        in: query
        description: Include groups
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        description: 'Pagination: current page'
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        description: 'Pagination: results per page. Max 100'
        required: false
        schema:
          type: integer
          default: 10
      - $ref: '#/components/schemas/As-User'
        name: As-User
        in: header
        required: false
      responses:
        '200':
          description: A list of forms
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /v1/form/get/{form_id}:
    get:
      tags:
      - Form
      summary: Get a form.
      description: Get a form.
      operationId: get-v1-form-get-by-form-id
      parameters:
      - name: form_id
        in: path
        description: Form ID
        required: true
        schema:
          type: string
      - name: include_data_sources
        in: query
        description: Include data sources
        required: false
        schema:
          type: boolean
      - $ref: '#/components/schemas/As-User'
        name: As-User
        in: header
        required: false
      responses:
        '200':
          description: Form object
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /v1/form/data/{form_id}:
    get:
      tags:
      - Form
      summary: Retrieve form data.
      description: Retrieve form data.
      operationId: get-v1-form-data-by-form-id
      parameters:
      - name: form_id
        in: path
        description: Form ID
        required: true
        schema:
          type: string
      - name: sort
        in: query
        description: Sort order
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: cursor
        in: query
        description: Form submission ID
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: 'Pagination: current page'
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        description: 'Pagination: results per page. Max 100'
        required: false
        schema:
          type: integer
          default: 10
      - $ref: '#/components/schemas/As-User'
        name: As-User
        in: header
        required: false
      responses:
        '200':
          description: Form submission data
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /v1/form/get_file/{form_id}/{submission_key}/{filename}:
    get:
      tags:
      - Form
      summary: Get a form file.
      description: Get a form file.
      operationId: get-v1-form-get-file-by-form-id-by-submission-key-by-filename
      parameters:
      - name: form_id
        in: path
        description: Form ID
        required: true
        schema:
          type: string
      - name: submission_key
        in: path
        description: Submission key
        required: true
        schema:
          type: string
      - name: filename
        in: path
        description: Filename
        required: true
        schema:
          type: string
      - $ref: '#/components/schemas/As-User'
        name: As-User
        in: header
        required: false
      responses:
        '200':
          description: File download
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
components:
  responses:
    '400':
      description: Bad request
    '401':
      description: Unauthorized
    '403':
      description: Forbidden
  schemas:
    As-User:
      description: Perform action on behalf of this user ID.
      type: string
  securitySchemes:
    oauth2_password:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Client ID + Client Secret + API Key exchanged at /services/oauth2/token with grant_type=password. Returns access_token + refresh_token. The As-User header is available only with this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
    oauth2_authorization_code:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://pubapi.bigtincan.com/services/oauth2/authorize
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Interactive Bigtincan Hub user login. The As-User header is disabled for this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
