openapi: 3.2.0
info:
  title: Bigtincan Hub Public History API
  version: '1.0'
  description: 'The Bigtincan Hub Public API provides programmatic access to the Bigtincan sales enablement platform: stories, files, channels, tabs, groups, users, tags, bookmarks, forms, public file shares, search, CRM story recommendations, interaction tracking and admin management.'
  contact:
    name: Bigtincan Support
    url: https://www.bigtincan.com/contact/
  termsOfService: https://www.bigtincan.com/eula/
servers:
- url: https://pubapi.bigtincan.com/
security:
- oauth2_password: []
- oauth2_authorization_code: []
tags:
- name: History
paths:
  /v1/track_interactions:
    post:
      tags:
      - History
      summary: Record user interactions
      description: Record user interactions.
      operationId: post-v1-track-interactions
      parameters:
      - $ref: '#/components/schemas/As-User'
        name: As-User
        in: header
        required: false
      responses:
        '200':
          description: Interaction recorded
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record_Interaction_Request'
        description: Interaction object
        required: true
components:
  responses:
    '403':
      description: Forbidden
    '400':
      description: Bad request
    '401':
      description: Unauthorized
  schemas:
    As-User:
      description: Perform action on behalf of this user ID.
      type: string
    Record_Interaction_Request:
      required:
      - actions
      properties:
        eventid:
          description: Event ID
          type: string
        actions:
          description: Interactions.
          type: array
          items:
            required:
            - id
            - action
            properties:
              id:
                description: Object ID
                type: string
              action:
                description: Action name
                type: string
              duration:
                description: Action duration
                type: integer
              on_screen_duration:
                description: Action on-screen duration
                type: integer
              timestamp:
                description: When the interaction occurred. Unix timestamp
                type: integer
              device_id:
                description: Device ID
                type: string
              platform:
                description: Platform
                type: string
              latitude:
                description: Latitude
                type: string
              longitude:
                description: Longitude
                type: string
            type: object
      type: object
  securitySchemes:
    oauth2_password:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Client ID + Client Secret + API Key exchanged at /services/oauth2/token with grant_type=password. Returns access_token + refresh_token. The As-User header is available only with this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
    oauth2_authorization_code:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://pubapi.bigtincan.com/services/oauth2/authorize
          tokenUrl: https://pubapi.bigtincan.com/services/oauth2/token
      description: 'Interactive Bigtincan Hub user login. The As-User header is disabled for this flow. Source: https://pubapi.bigtincan.com/doc/interactive/'
